---
import Layout from "../../layouts/Layout.astro";
import TreeElement from "../../components/TreeElement.astro";
import SidePanel from "../../components/layout/SidePanel.astro";
import PostPreview from "../../components/PostPreview.astro";
import * as content from "../../lib/content";
import { config } from "../../site.config";

const posts = await content.getPosts("blog");

const links = content.years(posts).map((year) => ({
  href: `/blog/${year}/`,
  text: `${year}`,
}));
---

<Layout title="Blog" description={config.description}>
  <SidePanel links={links} slot="side-panel" cmd={`blog list --years`} />
  <section>
    <p>$ blog tree</p>
    <div>
      {
        posts.map((post, index) => (
          <TreeElement isLast={index == posts.length - 1}>
            <PostPreview {...post} />
          </TreeElement>
        ))
      }
    </div>
  </section>
</Layout>
