---
import Layout from "../../layouts/Layout.astro";
import { config } from "../../site.config";
import { getCollection } from "astro:content";
import FileTreeElement from "../../components/FileTreeElement.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<Layout title="Blog" description={config.description}>
  <section>
    <p>$ tree /blog</p>
    <div>
      {posts.map((post, index) => <FileTreeElement {...post} isLast={index == posts.length-1}/>)}
    </div>
  </section>
</Layout>
