---
import path from "path";

import type { HTMLAttributes } from "astro/types";
import { base } from "astro:config/client";

import A from "../A.astro";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;

const link = path.join(base, String(href));
const isActive = pathname === link || pathname.startsWith(link + "/");
---

<A
  href={href}
  class:list={[
    "hover:text-terminal-accent text-lg font-bold transition-all",
    className,
    { active: isActive },
    { "text-terminal-accent": isActive },
  ]}
  {...props}
>
  <slot />
</A>
