---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a
  href={href}
  class:list={[
    "hover:text-terminal-accent text-lg transition-all",
    className,
    { active: isActive },
    { "text-terminal-accent": isActive },
  ]}
  {...props}
>
  <slot />
</a>
<style>
  a {
    display: inline-block;
  }
  a.active {
    font-weight: bolder;
  }
</style>
