---
import type { HTMLAttributes } from "astro/types";
import { base } from "astro:config/client";

import A from "../A.astro";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const paths = Astro.url.pathname.replace(base, "").split("/").filter(Boolean);
const h = String(href).replaceAll("/", "");
const isActive = paths[0] === h || Astro.url.pathname === href;
---

<A
  href={href}
  class:list={[
    "hover:text-terminal-accent text-lg font-bold transition-all",
    className,
    { active: isActive },
    { "text-terminal-accent": isActive },
  ]}
  {...props}
>
  <slot />
</A>
