---
import Layout from "../layouts/Layout.astro";
import TreeElement from "../components/TreeElement.astro";
import A from "../components/A.astro";

const links: [string, string, string][] = [
  ["About", "/about/", "關於我"],
  ["Blog", "/blog/", "部落格"],
  ["Legacy Blog", "/legacy/", "舊部落格（沒整理過得文章）"],
  ["Search", "/search/", "搜尋"],
  ["GitHub", "https://github.com/simbafs", "GitHub"],
  ["Telegram", "https://t.me/simbafs", "Telegram"],
];
---

<Layout>
  <p>$ tree .</p>
  <div>
    {
      links.map(([name, link, description]) => (
        <TreeElement>
          <A
            href={link}
            class="text-xl font-bold underline underline-offset-2 transition-all hover:underline-offset-1"
          >
            {name}
          </A>
          <p>{description}</p>
        </TreeElement>
      ))
    }
  </div>
</Layout>
