---
import { type HTMLAttributes } from "astro/types";
import { base } from "astro:config/client";
import path from "path";

type Props = HTMLAttributes<"a">;
const { href, ...props } = Astro.props;

const external = String(href).startsWith("http");
const link = external ? href : path.join(base, String(href));
---

{
  external ? (
    <a
      href={link}
      target="_blank"
      rel="noopener noreferrer nofollow"
      {...props}
    >
      <slot />
      <i class="fa fa-external-link ml-2" aria-hidden="true" />
    </a>
  ) : (
    <a href={link} {...props}>
      <slot />
    </a>
  )
}
