---
import { type HTMLAttributes } from "astro/types";
import { base } from "astro:config/client";
import path from "path";

type Props = HTMLAttributes<"a">;
const { href, ...props } = Astro.props;

const link = path.join(base, String(href));
---

<a href={link} {...props}><slot /></a>
