---
import A from "./A.astro";

type Props = {
  tag: string;
  legacy?: boolean;
};

const { tag, legacy } = Astro.props;
---

<span class="italic">
  <A href={`/${legacy ? "legacy/tag" : "tag"}/${tag}/`}>#{tag}</A>
</span>
