---
import Layout from "../../layouts/Layout.astro";
import TreeElement from "../../components/TreeElement.astro";
import { config } from "../../site.config";
import * as content from "../../lib/content";

const tags = await content.getPosts("blog").then(content.countTags);
---

<Layout title="Blog" description={config.description}>
  <section>
    <p>$ blog tree --tag</p>
    <div>
      {
        tags.map(([tag, count], index) => (
          <TreeElement isLast={index == tags.length - 1} density="compact">
            <a href={`/tag/${tag}/`}>
              <h4 class="inline font-bold italic">#{tag}</h4>
              <p class="text-terminal-secondary inline text-sm">
                {count} post{count > 1 ? "s" : ""}
              </p>
              <!-- TODO: 時間上這個標籤的文章分佈 -->
            </a>
          </TreeElement>
        ))
      }
    </div>
  </section>
</Layout>
