---
import BaseHead from "../components/layout/BaseHead.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import SidePanel from "../components/layout/SidePanel.astro";

import "../styles/global.css";
import { cn } from "../lib/cn";

type Props = {
  title: string;
  description: string;
  className?: string;
};
---

<!doctype html>
<html lang="zh-Hant">
  <head>
    <BaseHead title={Astro.props.title} description={Astro.props.description} />
  </head>
  <body class="bg-terminal-primary text-terminal-secondary">
    <div
      class="divide-terminal-secondary flex min-h-screen flex-col divide-y-2 divide-dashed font-mono"
    >
      <!-- Header -->
      <Header />

      <!-- Main Content -->
      <div
        class={cn(
          "divide-terminal-secondary grid grow grid-rows-[auto_1fr] md:grid-rows-1 w-full md:grid-cols-[1fr_4fr] divide-y-2 divide-dashed md:divide-x-2 md:divide-y-0 h-fit",
          { "divide-none": !Astro.slots.has("side-panel") },
          Astro.props.className,
        )}
      >
        <!-- Left Panel -->
        <div>
          <slot name="side-panel" />
        </div>

        <!-- Right Panel -->
        <main class="overflow-y-auto p-6">
          <slot />
        </main>
      </div>

      <!-- Footer -->
      <Footer />
    </div>
  </body>
</html>
