---
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import SidePanel from "../components/layout/SidePanel.astro";

import "../styles/global.css";
import { cn } from "../lib/cn";

type Props = {
  title: string;
  description: string;
  links?: {
    text: string;
    href: string;
    external?: boolean;
  }[];
  cmd?: string;
  className?: string;
};
---

<!doctype html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>終端機風格網站</title>
  </head>
  <body class="bg-terminal-primary text-terminal-secondary">
    <div
      class="divide-terminal-secondary flex min-h-screen flex-col divide-y-2 divide-dashed font-mono"
    >
      <!-- Header -->
      <Header />

      <!-- Main Content -->
      <div
        class={cn(
          "divide-terminal-secondary grid grow grid-cols-1 w-full md:grid-cols-[1fr_4fr] divide-y-2 divide-dashed md:divide-x-2 md:divide-y-0 h-fit",
          { "divide-none": !Boolean(Astro.props.links) },
          Astro.props.className,
        )}
      >
        <!-- Left Panel -->
        <div>
          {
            Astro.props.links && (
              <SidePanel links={Astro.props.links} cmd={Astro.props.cmd} />
            )
          }
        </div>

        <!-- Right Panel -->
        <main class="overflow-y-auto p-6">
          <slot />
        </main>
      </div>

      <!-- Footer -->
      <Footer />
    </div>
  </body>
</html>
